*{
    margin:0;
    padding:0;
 
}

body{
    background:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.container{
    width:500px;
}

.top-card{
    background:#4c98cf;
    color:white;
    text-align:center;
    padding:40px 30px;
    border-radius:10px 10px 0 0;
    margin-bottom:40px;
}

.top-card h2{
    font-size:25px;
    margin-bottom:20px;
}

.top-card p{
    line-height:1.7;
    font-size:17px;
    font-weight:500;
}

.form-group{
    margin-bottom:28px;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:bold;
    color:#333;
    font-size:18px;
}

input{
    width:100%;
    height:56px;
    border:1px solid #ddd;
    border-radius:8px;
    padding:0 15px;
    font-size:16px;
    outline:none;
}

input::placeholder{
    color:#b5b5b5;
}

.password-box{
    position:relative;
}

.password-box i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    color:#888;
    cursor:pointer;
}

.forgot-password{
    text-decoration:none;
    color:#4c98cf;
    font-weight:600;
    display:inline-block;
    margin-bottom:25px;
}

.buttons{
    display:flex;
    gap:150px;
}

button{
    flex:1;
    height:56px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.apply-btn{
    background:white;
    border:2px solid #4c98cf;
    color:#4c98cf;
    font-weight:600;
}

.apply-btn:hover{
    background:#4c98cf;
    color:white;
}

.login-btn{
    background:#4c98cf;
    color:white;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:600;
    
}

.loader{
    width:18px;
    height:18px;


}